 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto+Condensed&family=Roboto:wght@300;400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    background-color: var(--backColor);
}

:root{
    --backColor: #2C2842;
    --purple: rgb(176, 11, 176);
}

a{
    text-decoration: none;
}

body{
    background-color: var(--backColor);
}
/* Header */

.navText{
    color: white;
    padding: px;
   font-size: 20px;
   text-decoration: none;
   font-weight: 400;
   font-family: 'Roboto';
   border: none;
   letter-spacing: 2px;
   transition: 1s ease-out;
}

.navText:hover{
    border-bottom: 2px solid var(--purple);
}

.nav-item{
    padding: 1%;
}

/* Cart */

.cartBtn{
    color: white;
    border: none;
    height: 53px;
    background-color: var(--backColor);
   
}

.cartBtn:hover{
    transform: scale(1.5);
}

/* Main */

main{
    margin: 5%;
}

    /* Cards Products */

    .cardsBoardsGroup{
        height: 25vw;
        display: grid;
        margin-left: 30px;
        gap: 30px;
        grid-template-columns: auto auto auto;
    }

    .cardProduct{
        padding: 4%;
        border: 2px solid white;
        border-radius: 3px;
        margin: 2%;
        height: 30vw;
        width: 25vw;
        transition: 1s ease-out;
        
    }

    .cardProduct:hover{
        transform: scale(1.05);
        /* border: 2px solid var(--purple); */
        cursor: pointer;
    }

    .imgBoards{
        max-width: 250px;
        max-height: 250px;

    }

    .imgBoardsWar{
        max-width: 330px;
        max-height: 330px;
        margin-top: 12%;
        margin-bottom: 10%;
    }

    .imgBoardsPerfil7{
        max-width: 300px;
        max-height: 300px;
        margin-top: 6%;
        margin-bottom: 10%;
    }

    .titleProduct{
        color: white;
        text-align: center;
        margin-top: 30px;

    }

    .valueProduct{
        color: white;
        text-align: center;
        margin-top: 20px;

    }

    .btnAddCart{
        border: 2px solid white;
        color: white;
    }

    .btnAddCart:hover{
        border: 2px solid var(--purple);
        color: white;
    }
    

/* Product */

.containerProduct{
    padding: 2%;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 4fr 4fr;
    color:white;
}

.imgBoardProduct{
    margin-left: 30%;
}

.btnQtt{
    border: 1px solid white;
    color: white;
}

.btnQtt::placeholder{
    color: white;
    
}

.btnQtt:focus{
    border: 1px solid var(--purple);
}

.btnQtt:hover{
    border: 1px solid var(--purple);
}

.cartContainer{
    color: white;
}

.divBoardCart{
    border: 1px solid white;
    color: white;
}

.divBoardCart:hover{
    color: white;
    border: 1px solid white;
}


.cardPurple {
    border: solid 1px var(--purple);
    padding: 3%;
}


.card-subtitleRequest{
    color: white;
}

#orderContainer{
    color: white;
}